name: Auto Update IPTV Source

on:
  schedule:
    # 每天北京时间凌晨 4 点运行 (UTC 20:00)
    - cron: '0 20 * * *'
  workflow_dispatch: # 支持手动点击运行

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install aiohttp

      - name: Run spider update
        run: |
          python main.py

      - name: Commit and push changes
        run: |
          git config --global user.email "cusco888@outlook.com"
          git config --global user.name "CUSCO888"
          git add output/*.m3u
          # 只有在有变动时才提交，防止报错
          git diff --quiet && git diff --staged --quiet || git commit -m "Auto update IPTV sources [$(date '+%Y-%m-%d %H:%M:%S')]"
          git push
